body, html{
height: 100%;
margin: 0;
}

.imagembody{
background-image: url("image-01-1920x1152.jpg");	
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
