<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="ISO-8859-1">
	<title>Usuários Lista</title>
	
	<!-- MEU ESTILO CSS -->
<link rel="stylesheet" media="screen" th:href="@{/css/imagemtela.css}" />

</head>

<body class="imagembody">

	<div align="center">

		<h1>Relação de Usuários</h1>
		<a href="inclusao">Criar Novo Usuário</a>
		<br /><br />
		<a href="http://localhost:8080/menuprincipal" class="btn btn-primary">Voltar Menu</a>
		<br /><br />
		
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID Usuário</th>
					<th>Usuário Nome</th>
					<th>Senha</th>
					<th>Perfil/Role</th>
					<th>Status 0/1:</th>

					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="userusuarios : ${listUsuariosHtml}">
					<td th:text="${userusuarios.id}">ID Usuário</td>
					<td th:text="${userusuarios.username}">Usuário Nome</td>
					<td th:text="${userusuarios.password}">Senha</td>
					<td th:text="${userusuarios.role}">Perfil/Role</td>
					<td th:text="${userusuarios.enabled}">Status 0/1</td>

					<td> <a th:href="@{'/edituser/' + ${userusuarios.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/deleteuser/' + ${userusuarios.id}}">Delete</a>
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>